<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicloud - Home</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/home.css">

</head>
<body>

<!-- header section starts  -->

<header class="header">

    <a class="logo" href="/"><img src="image/logo.png" alt="logo"></a>

    <a class="cta" href="/login_patient">Login for patient</a>


    <a class="cta" href="/register_doc">Login for hospital</a>


    <div id="menu-btn" class="fas fa-bars"></div>

</header>

<!-- header section ends -->

<!-- home section starts  -->

<section class="home" id="home">

    <div class="image">
        <img src="image/home-img.svg" alt="">
    </div>

    <div class="content">
        <h3>We are Medicloud, Commitment to care</h3>
        <p>We are here to digitalize patient's health report. No where patient and doctor can miss the report, No need to carry reports on hands. Any report , Any Hospital , Any where with us</p>
        <a href="#" class="btn"> contact us <span class="fas fa-chevron-right"></span> </a>
    </div>

</section>

<!-- home section ends -->

<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a href="/hospital_dashboard"> <i class="fas fa-chevron-right"></i> home </a>
            <a href="/register_doc"> <i class="fas fa-chevron-right"></i> Login for hospital </a>
            <a href="/login_patient"> <i class="fas fa-chevron-right"></i> Login for Patients </a>
        </div>

        <div class="box">
            <h3>our Highlights</h3>
            <a> <i class="fas fa-chevron-right"></i> Fully cloud reports</a>
            <a> <i class="fas fa-chevron-right"></i> Categorized reports</a>
            <a> <i class="fas fa-chevron-right"></i> Fully Secured</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#"> <i class="fas fa-phone"></i> +91 1234567890</a>
            <a href="#"> <i class="fas fa-envelope"></i> enquiry@medicloud.com </a>
            <a href="#"> <i class="fas fa-map-marker-alt"></i> coimbatore, india - 641030 </a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
            <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
            <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
        </div>

    </div>

    <div class="credit"> created by <span>Medicloud , Inc</div>

</section>

<!-- footer section ends -->





















<!-- custom js file link  -->
<script src="js/script.js"></script>

</body>
</html>
