<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login - Hospital</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'><link rel="stylesheet" href="css/register_login.css">

</head>
<body>


<!-- partial:index.partial.html -->
<style>
body {
  background-image: url('/image/register-doc.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  }
</style>

<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>Sign in</h1>
            
            <input type="email" placeholder="Email" name="email" />
            <input type="password" placeholder="Password" />
            <a href="#">Forgot your password?</a>
            <button>Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>Welcome Back to Patient Login Portal!</h1>
                <p>Enter your credentials to view your profile</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>



